[Unit]
Description=ACME DNS proxy
After=network.target

[Service]
Type=simple
Restart=always
User=acmednsproxy
ExecStart=/usr/bin/acmednsproxy serve -a /etc/acmednsproxy/auth.yaml -p /etc/acmednsproxy/providers.yaml

[Install]
WantedBy=multi-user.target