[Unit]
Description=ACME DNS proxy
After=network.target

[Service]
User=acmednsproxy
EnvirontmentFile=-/etc/default/acmednsproxy
ExecStart=/usr/bin/acmednsproxy serve $ACMEDNSPROXY_OPTS

[Install]
WantedBy=multi-user.target